{% extends "@Frontend/Layouts/layout.html.twig" %}

{% block content %}
<html>

    <div class="col-lg-8 box-form" >
        <h2>MIS DATOS</h2>
        <hr/>

        {{ form_start(form, {'enctype' : 'multipart/form-data'}) }}

        {{ form_end(form) }}

    </div>


</html>
{% endblock %}
