{% extends "FrontendBundle:Layouts:layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default box-notifications">
            <h1 class="box-header">Notificaciones</h1>

            <div class="box-content">
                {% for notification in pagination %}
                    <div class="col-lg-12 notification-item">
                        <div class="alert alert-default">
                            <span class="glyphicon glyphicon-info-sign aria-hidden=true"></span>

                            {% set notificationUser = notification.typeId|get_user %}

                            {% if notification.type == 'follow' %}
                                {{ notificationUser.name }} {{ notificationUser.surname }} te esta siguiendo
                            {% endif %}

                            {% if notification.type == 'like' %}
                                {{ notificationUser.name }} {{ notificationUser.surname }} ha dado like a una de tus publicaciones
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}